/* you can add to or change this. */
body {
  margin: 30px 30px;
  background-color: rgba(253, 239, 170, 0.284);
  background-size: cover;
  background-position: center;
}

#game div {
  width: 160px;
  height: 120px;
  margin: 20px 28px 20px 35px;
  display: inline-block;
  background-color: black;
  background-image: url("images/grumpy-cat.jpeg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px 5px rgba(1, 1, 1, 0.688); 
  opacity: 80%; 
}

#game div:hover {
  box-shadow: 0 0 10px 5px rgba(1, 1, 1, 0.499);
  opacity: 100%;
}

h1, #score {
  font-family: 'Slackey', cursive;
  font-size: 30px;
  text-align: center;
  text-shadow:1px 1px 10px rgb(236, 197, 197), 1px 1px 10px #ccc;
}

#score {
  color: rgb(191, 47, 31);
  text-shadow:1px 1px 10px rgba(21, 18, 16, 0.393), 1px 1px 10px rgb(216, 177, 177);
  margin: 20px 20px;
  
}

#button {
  display: block;
  visibility: hidden;
  margin: auto;
  margin-top: 20px;
  height: 70px;
  width: auto;
  font-size: 20px;
  font-family: 'Slackey', cursive;
  border: rgba(245, 245, 245, 0.435) 2px solid;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 1px 10px;
  box-shadow: 2px 2px rgba(245, 245, 245, 0.295) ;

}

[name="matched"] {
  width: 120px;
  height: 90px;
}

